@CHARSET "UTF-8";
@IMPORT url("reset.css");


article#statContent{
	width:1200px; 
	margin:0 auto; 
	overflow:visible;
	padding:0;
	text-align:center;
	height:100%;	
}

aside#leftSnb{
	display:inline-block;
	width:20%;
	overflow:hidden;
	height:100%;
	padding:100px 5px 0 10px;
	vertical-align:top;
	text-align:left;
	background-color:#D8D8D8;
}

aside#leftSnb li{
	border-bottom-left-radius:25%;
	border-bottom-right-radius:25%;
	border-top-left-radius:25%;
	border-top-right-radius:25%;
	background-color:#fff;
	margin-bottom:30px;
	text-align:center;
}

aside#leftSnb li a{
	font-size:16pt;
	font-weight:bold;
	font-family:"dotum";
}

aside#leftSnb li a:hover{
	text-decoration:none;
}


article#rightContent{
	display:inline-block;
	width:70%;
	vertical-align:top;
	padding:30px 10px;
}

div#dateControlPanel{
	margin-bottom:60px;
	background-color:#D8D8D8;
}

div.chartBox{
	border:2px solid gray;
	margin:0 auto;
	display:inline-block;
	width:99%;
	min-height:200px;
}



div.statRule{
	margin-top:30px;
	clear:both;
	float:right;
	width:350px;
	min-height:100px;
	text-align:left;
	background-color:#F6F6F6;
	border:1px solid gray;
	padding:10px;
}

div.statRule ul li{
	list-style-type: none;
	list-style-position: inside;
	margin-bottom:10px;
	font-size:13pt;
	font-family:"gulim";
	
}

